:root {
    --font-family: "Montserrat", sans-serif;
    --base-font-size: "14px";
    --bs-primary: #40128B;
    --bs-sidebar: #F3BCC8;
    --bs-background: #E8F6EF;
    --text-danger: #f00;
    --mdc-icon-button-icon-size: 20px !important;
  }